.form-group
  label(for="thingName") Name:
  input(type="text", class="form-control", id="thingName", placeholder="Enter name", ng-model="modal.data.name")
.form-group
  label(for="thingDesc") Description:
  textarea(class="form-control", rows="3", id="thingDesc", ng-model="modal.data.desc")
