h2 List of things

.header-btn-row.clearfix
  button.btn.btn-primary.pull-right(ng-click="showAddThing()") Add thing
  .btn-group.toggle-mode.pull-left
    label(class="btn btn-primary", ng-model="radioModel", ng-change="toggleMode()", btn-radio="'all'") All
    label(class="btn btn-primary", ng-model="radioModel", ng-change="toggleMode()", btn-radio="'my'") My things
    label(class="btn btn-primary", ng-model="radioModel", ng-change="toggleMode()", btn-radio="'borrowed'")  Borrowed things
    
.table-responsive
  table.table.table-bordered
    thead
      tr
        th #
        th Thing
        th Maintained by
        th Current possesion
        th
    tbody.thing(ng-repeat="thing in things", ng-class="isOpen[$index]")
      tr
        td {{$index+1}}
        td {{thing.name}}
        td {{thing.maintainer.name}}
        td {{thing.current.name}}
        td
          span.more-info-toggle.glyphicon.glyphicon-chevron-up(ng-click="toggleOpen($index)")
      tr.more-info
        td
        td(colspan="4").row
          .info.col-sm-10 {{thing.desc}}
          .actions.col-sm-2
            button.btn.btn-info.btn-block(ng-click="returnThing(thing)", ng-show='isBorrowedByMe(thing)')
              span.glyphicon.glyphicon-edit 
              |  Return thing
            button.btn.btn-info.btn-block(ng-click="showLendThing(thing)", ng-show='isMy(thing)')
              span.glyphicon.glyphicon-edit 
              |  Lend thing
            button.btn.btn-info.btn-block(ng-click="showEditThing(thing)", ng-show='isMy(thing) || isAdmin()')
              span.glyphicon.glyphicon-edit 
              |  Edit
            button.btn.btn-danger.btn-block(ng-click="removeThing(thing.name,thing)", ng-show='isMy(thing) || isAdmin()')
              span.glyphicon.glyphicon-remove  
              |  Remove
